<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>前端</title>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
</head>
<body>
<button onclick="testRequest()">test</button>
<script th:inline="javascript">
    const BACKEND_SERVER = /*[[${@environment.getProperty('backend.server')}]]*/ '';

    function testRequest() {
        console.info(BACKEND_SERVER);
        $.ajax({
            url: BACKEND_SERVER + '/backend/test/hello/rex',
            timeout: 3000,
            success: data => alert(data),
            error: jqXHR => {
                console.info(jqXHR.responseText);
                console.error(jqXHR);
            }
        });
    }
</script>
</body>
</html>