<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>前端</title>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
</head>
<body>
<label> Username: <input id="username" type="text"></label>
<br>
<button onclick="directRequestToK8S()">發送請求到 <span th:text="${@environment.getProperty('backend.server')}"></span></button>
<br>
<button onclick="requestFromBackendIngress()">發送請求到 frontend 的 controller 再轉發到 K8S backend URL</button>
<br>
<button onclick="requestIngress()">發送請求到 K8S Ingress 的 backend 的 URL</button>
<br>
<button onclick="requestGateway()">發送請求到 gateway (<span th:text="${@environment.getProperty('gateway.server')}"></span>)</button>
<script th:inline="javascript">
    const BACKEND_SERVER = /*[[${@environment.getProperty('backend.server')}]]*/ '';
    const GATEWAY_SERVER = /*[[${@environment.getProperty('gateway.server')}]]*/ '';

    function directRequestToK8S() {
        console.info(BACKEND_SERVER);
        $.ajax({
            url: BACKEND_SERVER + '/test/hello/' + getUsername(),
            timeout: 3000,
            xhrFields: {withCredentials: true},
            success: showSuccess,
            error: showError
        });
    }

    function requestFromBackendIngress() {
        $.ajax({
            url: '/test/k8s/' + getUsername(),
            timeout: 3000,
            xhrFields: {withCredentials: true},
            success: showSuccess,
            error: showError
        });
    }

    function requestIngress() {
        $.ajax({
            url: 'http://backend.k8s.tester.com.tw/test/hello/' + getUsername(),
            timeout: 3000,
            xhrFields: {withCredentials: true},
            success: showSuccess,
            error: showError
        });
    }

    function requestGateway() {
        console.info(GATEWAY_SERVER);
        $.ajax({
            url: GATEWAY_SERVER + '/back/test/hello/' + getUsername(),
            timeout: 3000,
            xhrFields: {withCredentials: true},
            success: showSuccess,
            error: showError
        });
    }

    function getUsername() {
        let username = $('#username').val();
        if (!username) {
            username = 'rex';
        }
        return username;
    }

    function showSuccess(data) {
        alert(data);
        console.info(document.cookie);
    }

    function showError(jqXHR) {
        console.info(jqXHR.responseText);
        console.error(jqXHR);
    }
</script>
</body>
</html>